@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


body {
    background-color: #13131F;
    color: white;

}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: relative;
    margin-top: 10px;
}

header::after { /* Pseudoelement  */
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background: linear-gradient(to right, transparent, #c9c90a, transparent); 
}

header .d-flex {
    display: flex;
}


header h2 a {
    color: white;
    font-size: 24pt;
    font-family: 'Poppins';
    font-weight: bold;
}


header h2 a:hover {
    color: #FFDB58;
;
}

/* NAV */
nav .nav {
    display: flex;
    gap: 17px;
}

nav .nav-item .nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18pt;
    font-family: 'Major Mono Display';
}

nav .nav-item .nav-link:hover {
    color: #FFDB58;
    font-weight: bold;
}

/* MAIN */
main {
    padding: 40px 0;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#content{
    margin-top: 80px;
}

#content, #services-menu {
    width: auto;
    max-width: 1200px;
    text-align: left;
}

#content h1{
    font-size: 72px;
    color: #FFDB58;
}


.description-text {
    font-size: 21px;
    margin: 20px;
    color: #F5F5F5;
}



.card {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-header {
    background: linear-gradient(to right, transparent, #5f5e32  , transparent);
    border: none;
    padding: 10px;
}

.card-title button {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.card-title button:hover {
    color: #1c1b1b;
}

.list-group-item i {
    margin-right: 10px;
    color: #FFDB58;
}

footer{
    height: 20px;
    color: #6161e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

